.navBarLateral-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;

    width: 16%;
    height: 100vh;
    background: #EDF2F7;

    box-shadow: 0px 5px 15px rgba(0, 0, 13, 0.15);
    border-radius: 0px 30px 30px 0px;
}

.navBarLateral-Container div {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50px;
}

.navBarLateral-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;

    top: 200px;
}

.navBarLateral-list li {
    color: #2A69AC;
    cursor: pointer; 
}

.navBarLateral-list li:hover {
    color: #2A69AC;
    background: #EBF8FF;
}

.navBarLateral-list li text:hover {
    color: #2A69AC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.navBarLateral-list li text:not(:hover) {
    color: #2A69AC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.line {
    border: 1px solid #3182CE;
    width: 60%;
    position: relative;
    top:20%;
    
    display: flex;
    align-items: center;
}